@{
    ViewData["Title"] = "Login";
}
@model LoginModel

@using (@Html.BeginForm("Login", "Account", FormMethod.Post))

{
    @Html.ValidationSummary(false)
    
    <div class="form-group">
        @Html.LabelFor(loginModel => loginModel.Email)
        @Html.TextBoxFor(loginModel => loginModel.Email, new {@class = "form-control", @type="email"})
        </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
    </div>

    <input type="submit" class="form-control btn btn-primary" value="Log in">
    @Html.ActionLink("Register", "Register", "Login", htmlAttributes: new {@class = "form-control btn btn-primary"})
    
}