@model IEnumerable<TripModel>

@{
    ViewBag.Title = "Trips";
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <th>From</th>
    <th>To</th>
    <th>Trip date</th>
    <th>Departure time</th>
    <th>Arrival time</th>
    <th></th>
    </thead>

    @foreach (var tripModel in Model)
    {
        <tr>
            <td> @Html.DisplayFor(models => tripModel.DepartureStation) </td>
            <td> @Html.DisplayFor(models => tripModel.ArrivalStation) </td>
            <td> @Html.DisplayFor(models => tripModel.TripDate) </td>
            <td> @Html.DisplayFor(models => tripModel.DepartureTime) </td>
            <td> @Html.DisplayFor(models => tripModel.ArrivalTime) </td>
            <td>
                @Html.ActionLink("Buy ticket", "Buy", "BuyTicket", new {tripId = @tripModel.ID},
                    new {@class = "btn btn-primary"})
            </td>

        </tr>
    }

</table>